@import "lui/Foundation/Variables/FontVars";
@import "lui/Foundation/Variables/BreakpointVars";
@import "lui/Foundation/Variables/MiscVars";
@import "lui/Foundation/Variables/SpacingVars";

@import "lui-fixes.scss";

@import "variables.scss";
@import "myMixins.scss";
@import "typography.scss";
@import "header.scss";
@import "footer.scss";
@import "page-template.scss";
@import "two-col-template.scss";
@import "transfer-form-layout.scss";
@import "transferees-table.scss";
@import "drag-handle.scss";
@import "instrument-preview.scss";
@import "radio-btn-group.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0rem;
}
